<h1>GTFS Files Import</h1>
<p> Click <%= link_to 'here',  import_gtfs_path %> to import the GTFS files located in db/GTFS into your database. </p>
<p> Specify your database connection details in config/database.yml. </p>
<p> To check the progress of the task, tail the development log ($tail -f log/development.log).</p>
